<!DOCTYPE html>
<html>
  <head>
    <script src="https://use.fontawesome.com/540fecee2f.js"></script>
    <!-- JQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- BOOTSTRAP CDN -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/profile.css' />
    <link rel='stylesheet' href='/stylesheets/search.css' />
    <script src="/javascripts/wall.js"></script>
    <script src="/javascripts/friends.js"></script>
    <script src="/javascripts/chat.js"></script>
    <script src="/javascripts/register.js"></script>
    <!-- socket.io -->
    <script src="/socket.io/socket.io.js"></script>

  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {{# if user }}
            <a class="navbar-brand" href="/wall">MicroFb</a>
          {{else}}
            <a class="navbar-brand" href="/">MicroFb</a>
          {{/ if}}
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <!-- <ul class="nav navbar-nav">
            <li><a href="">Page 1</a></li>
          </ul> -->
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" id="searchBox">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
            <ul class="searchResults" id="searchResults" hidden>

            </ul>
          </form>
          <ul class="nav navbar-nav navbar-right">
            {{# if user }}
              <li class="dropdown">
                <a class="fa fa-globe" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                <ul class="dropdown-menu" id="notifications">
                  {{# if notifications}}
                    {{# each notifications}}
                      {{# if toFriends}}
                        <li data-notification="{{fromUser}}">
                          <p>{{fromUserFullname}}</p> {{text}}
                          <button id="acceptInvite" data-notification="{{fromUser}}"><i class="fa fa-check" aria-hidden="true"></i></button>
                          <button id="declineInvite" data-notification="{{fromUser}}"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </li>
                        <li role="separator" class="divider" data-notification="{{fromUser}}"></li>
                      {{else}}
                        <li><p>{{fromUserFullname}}</p> {{text}} </li>
                        <li role="separator" class="divider"></li>
                      {{/if}}
                    {{/each}}
                  {{else}}
                    <li id="noNotificationsLi"><p>No notifications to show</p></li>
                  {{/if}}


                </ul>
              </li>
              <li><a href="/wall"><i class="fa fa-address-card-o" aria-hidden="true"></i> {{user.firstName}} Wall</a></li>
              <li><a href="/users/logout"><i class="fa fa-power-off" aria-hidden="true"></i> Logout</a></li>

            {{else}}
              <li><a href="/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li><a href="/users/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {{/ if}}
          </ul>
        </div>
      </div>
    </nav>

    <!-- ERRORS -->
    {{#if success_msg}}
      <div class="alert alert-success">{{success_msg}}</div>
    {{/if}}
    {{#if error_msg}}
      <div class="alert alert-danger">{{error_msg}}</div>
    {{/if}}

    <!-- BODY -->
    {{{body}}}
  </body>
</html>
