<div class="profile">
    <div class="photo">
      <img src="https://cdn0.iconfinder.com/data/icons/iconshock_guys/512/andrew.png" >
      <p>{{profileUser.firstName}} {{profileUser.lastName}}</p>
      <div><i id="username">{{profileUser.username}}</i></div>
      {{# if countFriends}}
        <i>Friends: {{countFriends}}</i>
      {{else}}
        <i>Friends: Hidded</i>
      {{/if}}
      <div class="isFriendDiv">
        {{# if inviteSended}}
          <i><button class="isFriend" id="inviteSended" disabled>Invite sended</button></i>
        {{else}}
          {{# if isFriend}}
            <!-- <i><buttonclass="isFriend" id="removeFriend">Remove friend</button></i>-->
          {{else}}
            <i><button class="isFriend" id="addFriend">Add friend</button></i>
          {{/if}}
        {{/if}}
      </div>


    </div>
    <div class="profile-wall">
      {{# if isFriend}}
      <div class="addProfilePost">
        <textarea id="postTextArea" name="postTextArea" placeholder="Opublikuj coś ..."></textarea>
        <button id="addPost" type="submit" class="postBtn blue" name="add-post" data-user="{{profileUser.username}}">Add post</button>
      </div>
      {{/if}}
      <div class="profilePosts">
        {{# if isFriend}}
          {{# if posts}}
          {{# each posts }}

            <div class="profilePost">
              <div class="postAuthor">
                <img src="https://cdn0.iconfinder.com/data/icons/iconshock_guys/512/andrew.png" >
                <p>{{author.firstName}} {{author.lastName}}</p>
              </div>
              <div class="profilePostText">
                {{ text }}
              </div>
              <div class="profilePostOptions">
                {{# if isLiked}}
                  <i><button class="fa fa-heart liked" aria-hidden="true" id="likePost" value="{{id}}"> Like</button></i> |
                {{else}}
                  <i><button class="fa fa-heart" aria-hidden="true" id="likePost" value="{{id}}"> Like</button></i> |
                {{/if}}
                <i class="fa fa-share" aria-hidden="true"> Share it</i>
                <i class="profilePostTime"> {{formatDate time }} </i>
              </div>
            </div>

          {{/each}}
          {{else}}
            <div class="profilePost" id="profilePost">
              <h1> No posts yet! Add some or add friends to see posts! ;)</h1>
            </div>
          {{/if}}
          {{else}}
          <div class="profilePost" id="profilePost">
            <h2><center> To see posts {{profileUser.firstName}} {{profileUser.lastName}} add him to friends! </center></h2>
          </div>
        {{/if}}
      </div>
    </div>
</div>


<div class="friendsBox">
  <ul id="friendsList">
    {{# if countFriends}}
      <li id="allFriends"> All friends <i>{{countFriends}}</i></li>
      {{# each friends}}
        <li class="friendUsername" data-user="{{username}}">{{firstName}} {{lastName}}</li>
      {{/each}}
    {{/if}}
  </ul>
</div>


<div class="chatBoxes" id="chatBoxes">

</div>
