<div class="profile">
    <div class="photo">
      <img src="https://cdn0.iconfinder.com/data/icons/iconshock_guys/512/andrew.png" >
      <p>{{user.firstName}} {{user.lastName}}</p>
      <i>Friends: 10</i>
    </div>
    <div class="profile-wall">
      <div class="addProfilePost">
        <textarea id="postTextArea" name="postTextArea" placeholder="Opublikuj coś ..."></textarea>
        <button id="addPost" type="submit" class="postBtn blue" name="add-post">Add post</button>
      </div>
      <div class="profilePosts">
        {{# if posts}}
        {{# each posts }}

          <div class="profilePost">
            <div class="postAuthor">
              <img src="https://cdn0.iconfinder.com/data/icons/iconshock_guys/512/andrew.png" >
              <p>{{author.firstName}} {{author.lastName}}</p>
            </div>
            <div class="profilePostText">
              {{ text }}
            </div>
            <div class="profilePostOptions">
              <i class="fa fa-heart" aria-hidden="true"> Like</i> |
              <i class="fa fa-share" aria-hidden="true"> Share it</i>
              <i class="profilePostTime"> {{formatDate time }} </i>
            </div>
          </div>

        {{/each}}
        {{else}}
          <div class="profilePost" id="profilePost">
            <h1> No posts yet! Add some or add friends to see posts! ;)</h1>
          </div>
        {{/if}}
      </div>
    </div>
</div>


<div class="friends-box">
  <ul>
    <li><img src="/images/bullet_green.png" width="20">  Aleks Stefanski</li>
    <li><img src="/images/bullet_red.png" width="20">  Aleks Stefanski</li>
    <li><img src="/images/bullet_green.png" width="20">  Aleks Stefanski</li>
    <li><img src="/images/bullet_red.png" width="20">  Alekscsazcasfasfasfasfasfassfsaf Stefanski</li>
    <li><img src="/images/bullet_green.png" width="20">  Aleks Stefanski</li>
  </ul>
</div>
