<div class="profile">
    <div class="photo">
      <img src="https://cdn0.iconfinder.com/data/icons/iconshock_guys/512/andrew.png" >
      <p>{{user.firstName}} {{user.lastName}}</p>
      {{# if countFriends}}
        <i>Friends: {{countFriends}}</i>
      {{else}}
        <i>Friends: Hidded</i>
      {{/if}}
    </div>
    <div class="profile-wall">
      <div class="addProfilePost">
        <textarea id="postTextArea" name="postTextArea" placeholder="Opublikuj coś ..."></textarea>
        <button id="addPost" type="submit" class="postBtn blue" name="add-post">Add post</button>
      </div>
      <div class="profilePosts">
        {{# if posts}}
        {{# each posts }}
          <div class="profilePost">
            <div class="postAuthor">
              <img src="https://cdn0.iconfinder.com/data/icons/iconshock_guys/512/andrew.png" >
              <p>{{author.firstName}} {{author.lastName}}</p>
            </div>
            <div class="profilePostText">
              {{ text }}
            </div>
            <div class="profilePostOptions" id="profilePostOptions">
              <button class="fa fa-heart" aria-hidden="true" id="likePost" value="{{id}}"> Like</button> |
              <i class="fa fa-share" aria-hidden="true"> Share it</i>
              <i class="profilePostTime"> {{formatDate time }} </i>
            </div>
          </div>

        {{/each}}
        {{else}}
          <div class="profilePost" id="profilePost">
            <h1> No posts yet! Add some or add friends to see posts! ;)</h1>
          </div>
        {{/if}}
      </div>
    </div>
</div>


<div class="friendsBox">
  <ul id="friendsList">
    <li id="allFriends"> All friends <i>{{countFriends}}</i></li>
    {{# each friends}}
      <li class="friendUsername" data-user="{{username}}">{{firstName}} {{lastName}}</li>
    {{/each}}
  </ul>
</div>



<div class="chatBoxes" id="chatBoxes">

</div>
